In [16]:
grades = {'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
print(grades)

{'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [9]:
for k,v in grades.items():
    print('Name:',k,',','Grade:',v)

Name: Andy , Grade: 88
Name: Amy , Grade: 66
Name: James , Grade: 90
Name: Jules , Grade: 55
Name: Arthur , Grade: 77

In [26]:
grades = {'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
avg = sum(grades.values())/len(grades.values())
print("Class average is",avg,'.')

Class average is 75.2 .

In [28]:
print('Class highest grade is',max(grades.values()),'.')

Class highest grade is 90 .

In [29]:
print('Class lowest grade is',min(grades.values()),'.')

Class lowest grade is 55 .

In [31]:
for i in grades:
    if 'J' in i:
        break
    print(i)

Andy
Amy

In [32]:
for i in grades:
    if 'J' in i:
        continue
    print(i)

Andy
Amy
Arthur

In [40]:
def gradefinder(studentname):
    for name in grades:
        if name == studentname:
            print(grades[k])
            break
        else:
            print('Student name cannot be found.')
            break

In [42]:
gradefinder('Andy')

88

In [41]:
gradefinder('Sammy')

Student name cannot be found.

In [19]:
def lessthan(value):
    num = range(value)
    for x in num:
        if x <= value:
            print(x)
        else:
            break

In [23]:
lessthan(5)

0
1
2
3
4

In [40]:
def powerof(num1):
    n=0
    while n <= num1:
        print(n,pow(n,n))
        n=n+1
    else:
        print('Greater than',num1)

In [41]:
powerof(8)

0 1
1 1
2 4
3 27
4 256
5 3125
6 46656
7 823543
8 16777216
Greater than 8

In [94]:
def addition(num2):
    sum = 0
    m=1
    while m<=num2:
        sum = sum+m
        m+=1
    return(sum)

In [95]:
addition(5)

15

In [92]:
def addition2(num3):
    sum=0
    for p in range(num3+1):
        sum = sum+p
        p+=1
        print(sum)

In [93]:
addition2(6)

0
1
3
6
10
15
21

In [81]:
def minimum(v1,v2,v3,v4):
    minvalue=v1
    if minvalue>=v2:
        minvalue=v2
    if minvalue>=v3:
        minvalue=v3
    if minvalue>=v4:
        minvalue=v4
    return(minvalue)

In [98]:
minimum(1.3,4.9,2.6,8.7)

1.3